.cart-page{
    padding-top: 70px;
    display: grid;
    grid-template-columns: 75% 25%;
}
.cart-item-grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
}
.review-phrase{
    margin-top: 5px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.item-grid{
    margin-top: 10px;
    display: grid;
    grid-template-rows: 25px 1fr;
    border: 1px;
    border-style: solid;
    border-color: gainsboro;
}
.delivery-date-phrase{
    margin-top: 15px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    display: inline;
    color: rgb(112, 68, 68);

}
.purchase-details-grid{
    display: grid;
    grid-template-columns:130px 400px 1fr;
}
.product-cart-icon{
    padding-top: 30px;
    padding-left: 10px;
    width: 110px;
}
.product-info{
    padding-left: 20px;
    padding-top: 15px;

}
.product-name{
    font-size: 22px;
    font-weight: bold;
    color: #000000;
}
.product-price{
    font-size: 20px;    
    font-weight: bold;
    color: rgb(255, 0, 0);
}
.product-quantity{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.delivery-details{
    padding-top: 15px;
    padding-left: 30px;

}
.delivery-phrase{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    white-space: nowrap;
    margin-bottom: 15px;
}
.options{
    margin-bottom: 15px;
}
.date{
    font-size: 17px;

}
.shipping-price{
    color: gray;
    display: block;
    font-size: 15px;
    padding-left: 25px;

}
.update-link,.delete-link{
    color: gray;
    font-size: 17px;
    font-weight: normal;
    cursor: pointer;
}


.overall-cart-grid{
    justify-content: center;
    align-items: center;
    border: 1px;
    border-color: gainsboro;
    border-style: solid;
    height:300px;
    margin-top: 90px;
    margin-left: 15px;
    padding-left: 10px;
    padding-top: 15px;
}

.payment-summary-title{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
}
.payment-summary-row,.payment-summary-money{
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-size: 18px;
    padding-bottom: 5px;
}
.total-row{
    color: red;
    font-size: 20px;
    font-weight: bold;
    border: 2px;
    border-color: black;
    border-style:solid;
    border-left: none;
    border-bottom: none;
    border-right: none;
    padding-top: 7px;
}
.place-order-button{
    height: 40px;
    width: 300px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(112, 68, 68);
    border-bottom: none;
    border-right: none;
    border-top: none;
    border-left: none;
    color: white;
    margin-left: 20px;
    border-radius: 2px;
    margin-top: 15px;
    cursor: pointer;
}