.products-grid{
    padding-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.product-preview{
    border: 1px;
    border-color: gainsboro;
    border-style: solid;
    display: grid;
    grid-template-rows: 310px 130px 60px;
    justify-content: center;
    align-items: center;
}
.product-image{
}
.product-info{
}
.product-icon{
    width: 200px;
    padding-top: 8px;
}
.product-name{
    font-size: 20px;
    font-weight: bold;
}
.product-price,.rating-count{
    margin-top: px;
    font-size: 18px;
    font-weight: bold;
}
.rating{
    align-items: center;
    margin-top: -10px;
}
.rating-count{
    display: inline;
}
.rating-stars-icon{
    height: 20px;
}
.add-to-cart{
    position: relative;
}
.add-to-cart-button{
    width: 250px;
    margin-top: -10px;
    height: 50px;
    background-color: rgb(112, 68, 68);
    color: white;
    font-size: 20px;
    border-left: 0;
    border-top:0;
    border-right: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 30px;
    cursor: pointer;
}
.add-to-cart-button:hover{
    opacity: 0.7;
}
.add-to-cart-button:active{
    opacity: 0.3;
}
.added-to-cart-icon{
    width:30px;
    top:-70px;
    left:200px;
    position: absolute;
 

}
.checkmark-icon{
    width: 30px;
    top:-70px;
    left:230px;
    position: absolute;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;


}
.added{
    position: relative;
    opacity: 0;
}
.added-to-cart-phrase{
    font-size: 15px;
    display: inline;
    top:-75px;
    left: 90px;
    position: absolute;
    background-color: white;
    font-weight: bold;
    color: green;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 20px;
}